<footer>
    <div class="about-us">
      <h2>SOBRE NOSOTRXS</h2>
      <p>
        Nos dedicamos a la venta de productos de distintas marcas orientadas
        al skateboard, surf y snowboard. Siempre unidxs por la pasion de
        realizar actividades al aire libre y en contacto con la naturaleza.
      </p>
    </div>
    <div class="information">
      <h2>INFORMACIÓN</h2>
      <ul>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Pagos y envios</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="suscription">
      <h2>SUSCRIBITE AL NEWSLETTER</h2>
      <p>Suscribite y recibí nuestro newsletter y promociones</p>
      <input type="email" value="E-mail" />
      <a class='bottomSuscribe'href="#">Suscribirse</a>
    </div>
  </footer>