<header class="main-header">
    <nav class="nav">
      <div class="mobile-nav-bar">
        <div class="left-side">
          <div class="container">
            <div class="subcontainer">
              <nav >
                <ul class="nav-menu">
                  <li class="nav-item">
                    <form action="/productos/resultados" method="GET">
                      <input type="text" name="producto" id="producto">
                      <button class="boton-buscar" type="submit">Buscar</button>
                  </form>
                  </li>
                  <li class="nav-item">
                    <a href="/usuario/login" class="nav-link burguerA">Login/Register</a>
                  </li>
                  <% if(locals.userLogged){ %>
                    <li class="nav-item">
                      <a href="/productos/carrito" class="nav-link burguerA">Carrito</a>
                    </li>
                    <li class="nav-item">
                      <a href="/usuario/logout" class="nav-link burguerA">Cerrar sesión</a>
                    </li>
                  <% } %>
                </ul>
              <div class='moveBurger'>
                <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href="/"><p>BE/LIVE WILD</p></a>
        </div>
        <div class="right-side">
          <div class="icons-top">
            <% if (locals.userLogged) { %>
              <a href="/usuario/mi-cuenta/<%=userLogged.id%>"><img src="/images/avatars/<%= locals.userLogged.user_image %>" width="45" height="45" style="border-radius: 20%;">
                <br>
               <%= locals.userLogged.first_name %></a>
               <a href="/productos/carrito"><i class="fas fa-shopping-cart carrito"></i></a>
               <a href='/usuario/logout'><i class="fas fa-sign-out-alt carrito"></i></a>
            <% } else { %>
              <a href="/usuario/login"><i class="fas fa-user"></i></a>
              <a href="/productos/carrito"><i class="fas fa-shopping-cart carrito"></i></a>
            <% } %>
          </div>
          <div class="icons-bottom">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </header>