<header class="main-header">
    <nav class="nav">
      <div class="mobile-nav-bar">
        <div class="left-side">
          <i class="fas fa-bars"></i>
          <p>Menu</p>
        </div>
        <div class="logo">
          <a href="/"><p>BE/LIVE WILD</p></a>
        </div>
        <div class="right-side">
          <div class="icons-top">
            <% if (locals.isLogged) { %>
              <a href="/usuario/mi-cuenta"><img src="/images/avatars/<%= locals.userLogged.img %>" width="30" style="border-radius: 100%;">
               <%= locals.userLogged.name %></a>
               <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
            <% } else { %>
              <a href="/usuario/login"><i class="fas fa-user"></i></a>
              <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
            <% } %>
          </div>
          <div class="icons-bottom">
            <a href="facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="twitter.com"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </header>