<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs',{titulo:'Be/Live Wild', css:'index'})%>
  <body>
    <%- include('partials/header.ejs') %> 
    <main>
      <div class="video-loop">
        <video
          src="/images/Sunset Laps in Lapland_1080p.mp4"
          muted
          autoplay
          loop
          preload="auto"
          width="100%"
        ></video>
        <div class="cartel">
          <h2 class='h2Video'>Primavera verano 2021/2022</h2>
          <h1 class='h1Video'>Nuevos Ingresos</h1>
          <h3 class='h3Video'>No te quedes sin los nuevos modelos de esta temporada</h3>
          <h4 class='h4Video'>Hacemos envios a todo el Pais</h4>
        </div>
      </div>
      <h2 class="top-products-title2">Categorias</h2>
      <div class="categories">
        <a href="#" class="link-category">
          <img src="/images/thrasher-t-shirt.jpg" alt="Foto-1" />
          <div class="category">
            <p><strong>Remeras</strong></p>
            <p>Ver más +</p>
          </div>
        </a>
        <a href="#" class="link-category">
          <img src="/images/beanie-hat.jpg" alt="Foto-2" />
          <div class="category">
            <p><strong>Gorros</strong></p>
            <p>Ver más +</p>
          </div>
        </a>
        <a href="#" class="link-category">
          <img src="/images/jacket.jpg" alt="Foto-3" />
          <div class="category">
            <p><strong>Camperas</strong></p>
            <p>Ver más +</p>
          </div>
        </a>
        <div class="button-ver-mas">
          <a href="/productos">VER MAS</a>
        </div>
      </div>
      <div class="top-products">
        <h2 class="top-products-title">Productos destacados</h2>
        <div class="slick-list" id="slick-list">
          <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
          </button>
          <div class="slick-track" id="track">
              <div class="slick">
                  <div>
                      <a class='carruselCss' href="/">
                          <h4 class='h4carruselCss'>Gorro</h4>
                          <picture>
                              <img src="/images/beanie-hat.jpg" alt="Image">
                          </picture>
                      </a>
                  </div>
              </div>
              <div class="slick">
                  <div>
                      <a class='carruselCss'href="/">
                          <h4 class='h4carruselCss'>Campera</h4>
                          <picture>
                              <img src="/images/campera1.jpg" alt="Image">
                          </picture>
                      </a>
                  </div>
              </div>
              <div class="slick">
                  <div>
                      <a class='carruselCss' href="/">
                          <h4 class='h4carruselCss'>Pantalon</h4>
                          <picture>
                              <img src="/images/pantalon2.jpg" alt="Image">
                          </picture>
                      </a>
                  </div>
              </div>
              <div class="slick">
                  <div>
                      <a class='carruselCss' href="/">
                          <h4 class='h4carruselCss'>Gorro</h4>
                          <picture>
                              <img src="/images/gorro1.jpg" alt="Image">
                          </picture>
                      </a>
                  </div>
              </div>
              <div class="slick">
                  <div>
                      <a class='carruselCss'href="/">
                          <h4 class='h4carruselCss'>Campera con capucha</h4>
                          <picture>
                              <img src="/images/jacket.jpg" alt="Image">
                          </picture>
                      </a>
                  </div>
              </div>
              <div class="slick">
                <div>
                    <a class='carruselCss' href="/">
                        <h4 class='h4carruselCss'>Campera</h4>
                        <picture>
                            <img src="/images/campera1.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
              <div>
                  <a class='carruselCss' href="/">
                      <h4 class='h4carruselCss' >Campera></h4>
                      <picture>
                          <img src="/images/campera1.jpg" alt="Image">
                      </picture>
                  </a>
              </div>
          </div>
          <div class="slick">
            <div>
                <a class='carruselCss' href="/">
                    <h4 class='h4carruselCss'>Campera</h4>
                    <picture>
                        <img src="/images/campera1.jpg" alt="Image">
                    </picture>
                </a>
            </div>
        </div>
              <div class="slick">
                <div>
                    <a class='carruselCss' href="/">
                        <h4 class='h4carruselCss' >Gorro</h4>
                        <picture>
                            <img src="/images/gorro1.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
        <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
        </button>
    </div>
        </div>
      </div>
      <footer class='footerSeccion'>
        <section class="secciones">
           <div class="iconsFooter"><i class="fas fa-credit-card"></i></div>
             <div class="texto"><p><strong>Pagá con tarjeta o en efectivo</strong></p>
               <p>Tenés cuotas sin interés</p>
               <p>con tarjeta o efectivo en</p>
               <p>puntos de pago. ¡Y siempre es seguro!</p></div>
            </section>
            <section>
             <div class="iconsFooter"><i class="fas fa-truck"></i></i></i></div>     
               <div class="texto"><p><strong>Envío gratis desde $ 5000</strong></p>
                <p>Solo por estar registrad@</p>
                <p>tenés envíos gratis en productos seleccionados</p>
            </section>
            <section>
              <div class="iconsFooter"><i class="fas fa-shield-alt"></i></i></div>     
                <div class="texto"><p><strong>Seguridad, de principio a fin</strong></p>
                 <p>¿No te gusta el producto o te queda chico?</p>
                 <p>¡Devolvelo o cambialo!</p>
                 <p>no hay nada que no puedas hacer,</p>
            </section>
        </footer>
    </main>
    <%- include('partials/footer.ejs') %> 
    <script defer src="/js/main.js"></script>
  </body>
</html>

