<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs',{titulo:'Be/Live Wild', css:'index'})%>
  <body>
    <%- include('partials/header.ejs') %> 
    <main>
      <div class="video-loop">
        <video
          src="/images/mixkit-snowboarding-down-a-small-hill-12009-medium.mp4"
          muted
          autoplay
          loop
          preload="auto"
          width="100%"
        ></video>
        <div class="cartel">
          <h1>BELIEVE</h1>
          <p>Todo para la aventura</p>
        </div>
      </div>
      <div class="categories">
        <a href="#" class="link-category">
          <img src="/images/thrasher-t-shirt.jpg" alt="Foto-1" />
          <div class="category">
            <p><strong>Remeras</strong></p>
            <p>Ver más +</p>
          </div>
        </a>
        <a href="#" class="link-category">
          <img src="/images/beanie-hat.jpg" alt="Foto-2" />
          <div class="category">
            <p><strong>Gorros</strong></p>
            <p>Ver más +</p>
          </div>
        </a>
        <a href="#" class="link-category">
          <img src="/images/jacket.jpg" alt="Foto-3" />
          <div class="category">
            <p><strong>Camperas</strong></p>
            <p>Ver más +</p>
          </div>
        </a>
        <div class="button-ver-mas">
          <a href="#">VER MAS</a>
        </div>
      </div>
      <div class="top-products">
        <h2 class="top-products-title">Ofertas destacadas</h2>
        <div class="products-carousel">
          <a href="#" class="left-arrow"><i class="fas fa-chevron-left"></i></a>
          <a href="#" class="right-arrow"
            ><i class="fas fa-chevron-right"></i
          ></a>
          <div class="carousel-block">
            <div class="carousel-item">
              <a href="#"
                ><img src="images/prod 1.jpg" alt="Foto de producto"
              /></a>
              <h4 class="product-name">Producto 1</h4>
              <p class="product-price">$$$</p>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="images/prod 2.jpg" alt="Foto de producto"
              /></a>
              <h4 class="product-name">Producto 2</h4>
              <p class="product-price">$$$</p>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="images/prod 3.jpg" alt="Foto de producto"
              /></a>
              <h4 class="product-name">Producto 3</h4>
              <p class="product-price">$$$</p>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="images/prod 4.jpg" alt="Foto de producto"
              /></a>
              <h4 class="product-name">Producto 4</h4>
              <p class="product-price">$$$</p>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="images/prod 5.jpg" alt="Foto de producto"
              /></a>
              <h4 class="product-name">Producto 5</h4>
              <p class="product-price">$$$</p>
            </div>
            <div class="carousel-item">
              <a href="#"
                ><img src="images/prod 6.jpg" alt="Foto de producto"
              /></a>
              <h4 class="product-name">Producto 6</h4>
              <p class="product-price">$$$</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %> 
  </body>
</html>
