<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be/Live Wild</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <script src="https://kit.fontawesome.com/b5260bf5c3.js"
      crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="main-header">
      <nav class="nav">
        <div class="mobile-nav-bar">
          <div class="left-side">
            <i class="fas fa-bars"></i>
            <p>Menu</p>
          </div>
          <div class="logo">
            <a href="/"><p>BE/LIVE WILD</p></a>
          </div>
          <div class="right-side">
            <div class="icons-top">
              <a href="/log-in"><i class="fas fa-user"></i></a>
              <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="icons-bottom">
              <a href="facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="twitter.com"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
      <main>
          <form action="" method="POST" class="registro">
              <section>
                  <div class="texto-de-registro">
                    <h1>Crear nueva cuenta de cliente</h1>
                  </div>
                  <div class="texto-de-registro">
                    <h3>Informacion personal</h3>
                  </div>
                  </section>
                  <section>
                  <div class="formulario-de-registro">
                      <label class="titulo-label">Nombre</label>
                      <input type="text" class="texto-registro" minlength="3" placeholder="Aca va tu nombre" required>
                  </div>
                  <div  class="formulario-de-registro">
                      <label class="titulo-label">Apellido</label>
                      <input type="text" class="texto-registro" minlength="3" placeholder="Aca va tu apellido" required>
                  </div>
                  <div  class="formulario-de-registro">
                      <label for="fecha-de-nacimiento" class="titulo-label">Fecha de nacimiento</label>
                      <input type="date" class="texto-registro" name="fecha-de-nacimiento" required>
                  </div>
                  <div  class="formulario-de-registro">
                      <label class="titulo-label">DNI</label>
                      <input type="text" class="texto-registro" maxlength="8" placeholder="Aca va tu DNI" required>
                  </div>
                </section>
                <section>
                  <div  class="formulario-de-registro">
                      <label class="titulo-label">Email</label>
                      <input type="email" class="texto-registro" name="email" placeholder="Aca va tu E-mail" required>
                  </div>
                  <div class="formulario-de-registro">
                      <label for="contraseña" class="titulo-label">Contraseña</label>
                      <input type="password" class="texto-registro" name="contraseña" placeholder="Aca va tu contraseña" required>
                  </div>
                  <div class="formulario-de-registro">
                      <label for="confirmar-contraseña" class="titulo-label">Confirmar Contraseña</label>
                      <input type="password" class="texto-registro" name="confirmar-contraseña" placeholder="Aca va tu contraseña" required>
                  </div>
                </section>
                  <p class="p-del-registro">Campos requeridos</p>
                  <button type="submit" class="boton-formulario"><a href="/">Crear Cuenta</a></button>
              </section>
          </form>
      </main>
      <footer>
        <div class="about-us">
          <h2>SOBRE NOSOTRXS</h2>
          <p>
            Nos dedicamos a la venta de productos de distintas marcas orientadas
            al skateboard, surf y snowboard. Siempre unidxs por la pasion de
            realizar actividades al aire libre y en contacto con la naturaleza.
          </p>
        </div>
        <div class="information">
            <h2>INFORMACIÓN</h2>
            <ul>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Pagos y envios</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="suscription">
            <h2>SUSCRIBITE AL NEWSLETTER</h2>
            <p>Suscribite y recibí nuestro newsletter y promociones</p>
            <input type="email" value="E-mail">
            <a href="#">Suscribirse</a>
        </div>
      </footer>
</body>
</html>