
.mobile-nav-bar, .left-side, .right-side{
    display:flex;
    justify-content: space-between;
}

/* .carrito {
  display:;
} */

.mobile-nav-bar{
    width: 100%;
    position: fixed;
    z-index:10;
    background-color: #e690a8;
    height: 90px;
    padding: 15px;
    opacity: 0.95;
}
.logo, .left-side, .right-side{
    font-size: 20px;
    margin: auto 5px;
}
.left-side i{
    margin: auto;
}
.logo{
    font-family: 'Rampart One', cursive;
    text-align: center;
}
.logo a, .icons-top a{
    color: #000;
    text-decoration: none;
}
.icons-bottom{
    display: none;
    
}

.nav-menu{
  display: flex;
  position: fixed;
  left: -35%;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  top: 0px;
  margin-top: 90px;
  margin-left: 10%;
  width: 10%;
  gap: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: 0.3s;
  list-style-type: none;
  font-weight: bold;
  font-size: 10px;
  border-bottom-right-radius: 5px;
}

.burgerMenuContentLink  {
  transition: 2s;
  text-align: left !important;
}

.burgerMenuContentLink :hover {
  transform: scale(1.1);
}

@media (min-width:369px) {
     /* burguerMenu */
.burguerA {
    color: white !important;
    text-decoration: none;
  }

  .burgerMenuContentLink {
    text-align: center;
  }

  .nav-menu{
    top: 90px;
    width: 125px;
    margin-left: 0;
    margin-top: 0;
  }

  .burgerMenuContentInput {
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    margin-bottom: 5px;
    font-size: 12px;
    background-color:#e2e2e2;
  }

  .burgerMenuContentInput:hover {
    background-color:white;
  }
  
  .burgerMenuContentButton {
    left:62%;
    height: 4%;
    border: none;
    width: 60%;
    background-color: #e67192;
    font-size: 15px;
    color: white;
  }

  .burgerMenuContentButton:hover {
    background-color: #e75982;
  }

  .burgerMenuContentLogin {
    opacity: 0.8;
    font-size: 12px;
    transition: 2s;
  }

   .burgerMenuContentLogin:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .burgerMenuContentLoginA {
    opacity: 0.8;
    font-size: 12px;
    transition: 2s;
  }

   .burgerMenuContentLoginA:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  
  
  .nav-link{
    transition: 0.3s ease-out;
    font-size: 16px;
  }
  
  .nav-link:hover{
    color: white;
  }
  
  .hamburger{
    color: black;
    display: block;
    cursor: pointer;
    margin-top: -10px;
    margin-left: -10px;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px  auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: black
  }

  .moveBurger {
      margin-top: 7px;
      margin-left: 10px
  }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-7px) rotate(-45deg);
    }
  
    .nav-item{
      margin: 3px 0;
      display: block; 
      width: 120px;
    }
  
    .nav-menu.active{
      left: 0;
      transition-duration: 1000ms;
    }

    .fa-shopping-cart {
       display: none;
    }

    .burguerMenuContentTitle {
      color: white;
      font-size: 14px;
      
      text-align: left;
    }

    .burgerMenuContentLinkTittle {
      text-align: left;
      color: white;
      font-size: 12px
    }
    
    .burgerMenuContentLink a {
      color : white;
      font-weight: normal;
      font-size: 12px;
    }
}   


@media(min-width:769px){
    .nav{
        position: relative;
   }

   .carrito {
    color: black;  
  }

  .burgerMenuContentInput {
    position: absolute;
    border: none;
    margin: auto;
    top: 12%;
    left: 6%;
    height: 4%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    text-align: center;
    width: 56%;
    font-size: 12px;
    background-color:#e2e2e2;
  }

  .burgerMenuContentInput:hover {
    background-color:white;
  }

  .burgerMenuContentButton {
    border: none;
    position: absolute;
    margin: auto;
    top: 12%;
    left:62%;
    height: 4%;
    width: 28%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e67192;
    font-size: 15px;
    color: white;
  }

  .burgerMenuContentButton:hover {
    background-color: #e75982;
  }

  .burgerMenuContentLogin {
    position: absolute;
    margin: auto;
    top: 90%;
    left: 6%;
    font-size: 22px;
    opacity: 0.8;
  }

   .burgerMenuContentLogin:hover {
    opacity: 1;
  }

  .burgerMenuContentLoginA {
    position: absolute;
    margin: auto;
    top: 94%;
    left: 6%;
    font-size: 22px;
    opacity: 0.8;
  }

   .burgerMenuContentLoginA:hover {
    opacity: 1;
  }


    .mobile-nav-bar{
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: transparent;
   }
    .right-side, .left-side{
        flex-direction:column;
        position: fixed;
        align-items: center;
        z-index: 10;
        height: 100vh;
        padding: 1%;
   }
    .left-side{
        left: 0;
        margin: 0;
   }
   .left-side p{
       display: none;
   }
   .left-side i{
       margin: 0;
   }

   .logo{
       font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
   }

   .right-side{
       right: 0;
       margin: 0;
   }
    .icons-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-end;
        text-align: center;
   }
   .fas, .fab{
        padding-bottom: 15px;
        opacity: 0.7;
        transition: all 300ms;
   }
   .fas:hover, .fab:hover{
       opacity: 1;
   }
    .icons-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        text-align: center;
   }
    .icons-bottom a{
        color: #000;
   }

  /* burgerMenu */
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px  auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: black;  
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active{
    margin-left: 0;
    height: 100%;
    width: 18%;
    top: 0;
    border-bottom-right-radius: 0px;
  }

  .burguerMenuContentTitle {
      position: absolute;
      left: 6%;
      top: 7.2%;
      width: 90%;
      color: white;
      font-size: 16px;
      width: 95%;
      text-align: left;
    }

    .burgerMenuContentLinkTittle {
      position: absolute;
      top: 21.5%;
      left: 7%;
      width: 95%;
      color: white;
      font-size: 16px;
      text-align: left;
    }
    
    .burgerMenuContentLink {
      position: absolute;
      display: block;
      top: 27%;
      left: 10%;
      width: 80%;
    }
    
    .burgerMenuContentLink a {
      color : white;
      font-weight: normal;
      font-size: 14px;
    }
  }

  @media (min-width: 1380px){

    .burguerMenuContentTitle {
      position: absolute;
      left: 6%;
      top: 7.5%;
      width: 90%;
      color: white;
      font-size: 25px;
      width: 90%;
      text-align: left;
    }

    .burgerMenuContentLinkTittle {
      position: absolute;
      top: 21.5%;
      left: 6%;
      width: 80%;
      color: white;
      font-size: 20px;
      text-align: left;
    }
    
    .burgerMenuContentLink {
      position: absolute;
      display: block;
      top: 26%;
      left: 10%;
      width: 80%;
    }
    
    .burgerMenuContentLink a {
      color : white;
      font-weight: normal;
      font-size: 18px;
      position: relative;
    }

    
  

}