/* HEADER */
@import "header.css";
/* FOOTER */
@import "footer.css";


*{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#000;
    background-color:#f8f9fc;
}

/* HEADER */

/* MAIN */
.edit-form{
    padding: 60px 20px 0px 20px;
    
}

.edit-product-form{
    width: 90%;
    margin: auto;
    padding: 2% 3%;
    text-align: left;
}

.form-section-left label,.form-section-right p, .price{
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.colorSelect {
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    opacity: 0.8;
    border-radius: 10px;
}


section {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
}

.edit-product-form input, .form-section-left textarea, .category{
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    width: 100%;
    outline: none;
    overflow: hidden;
    margin-bottom: 1px;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    opacity: 0.8;
}

input[type=checkbox]{
    width: 7%;
    margin: 5px
}

.edit-product-button{
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    opacity: 0.8;
    border: solid 2px #000;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    transition: all 300ms;
    
}

.edit-product-button:hover{
    background-color: #fbed96;
}

/* FOOTER */


/* DESKTOP */
@media(min-width:769px){
    /* HEADER */

    /* MAIN */
    .edit-form{
        padding: 0;
        margin-bottom: 9.3%;
    }
    
    .edit-product-form{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding: 20px;
    }

    .edit-form h2{
        padding-top: 55px;
        padding-left: 35px;
        padding-bottom: 5px;
        width:100%;
    }

    .form-section-left, .form-section-right{
        width: 45%;
    }

    .edit-product-button{
        width: 100%;
        margin-top: 20px;
        padding: 10px 30px;
    }
    
    /* FOOTER */

}
