/* HEADER */
@import "header.css";
/* FOOTER */
@import "footer.css";

*{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color:#000;
    background-color:#f8f9fc;
}

/* MAIN */
/* video-loop */
.video-loop{
    width: 100%;
    position:relative;
    padding-top: 55px;
    box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
}
.video-loop video{
    opacity: 0.8;
}
.cartel{
    position: absolute;
    bottom:20%;
    left: 10%;
    width: 50%;
    margin: auto;
    z-index:1;
}

/* categories */
.categories{
    margin: 5% 0% 0% 9.5%;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
    
}
.link-category{
    display: block;
    position:relative;
    margin: 3% 0;
}
.link-category img{
    padding-right: 2%;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.category p strong{
    color: black;
    opacity: 1 !important;
}

.category:hover {
    opacity: 0.5;
    background-color: rgb(206, 206, 206);
   
}
.category{
    color:#000;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 450ms;
}
.category p{
    position: relative;
    top: 50%;
    font-size: 15px;
}

.category p strong{
    font-size: 25px;
}
.button-ver-mas{
    margin: 0 auto;
    width: 30%;
    padding-bottom: 2.5%;
    
}
.button-ver-mas a{
    display: block;
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    transition: all 350ms;
    opacity: 0.9;
    border: solid 2px #000;
}

.button-ver-mas:hover a{
    background-color: #fbed96;
    
}
/* carrusel */
.top-products{
    padding-top: 20px;
}
.products-carousel {
    width:90%;
    margin: auto;
    position: relative;
}
.products-carousel .left-arrow {
    position:absolute;
    left:0px;
    z-index:1;
    top:50%;
    margin-top:-9px;
    color: black;
}
.products-carousel .right-arrow {
    position: absolute;
    right:0px;
    z-index:1;
    top:50%;
    margin-top:-9px;
    color: black;
}
.carousel-block {
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 15rem;
    overflow: hidden;
}
.carousel-block img {
    cursor:pointer;
    width: 100%;
    height: 100%;
}
.carousel-item {
    border:black 3px solid;
    width: 45%;
    height: 90%;
    text-align:center;
    margin-bottom: 50px;
    position: relative;
}
.product-name, .product-price{
    position:relative;
    bottom: 19%;
    opacity: 0;
    transition: all 300ms;
}

.carousel-item:hover .product-name, .carousel-item:hover .product-price{
    display: block;
    background-color: #f2fdb4;
    opacity: 0.8;
}

.footerSeccion {
    width: 80vw;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
}

.iconsFooter {
    font-size: 50px;
}

.iconsFooter i {
    color: #b36b7f;
}

/* TABLET */
@media(min-width:481px){
    /* video-loop */
    .cartel{
        bottom: 30%;
    }

    /* categories */
    .categories{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
   }
    .link-category{
        margin: 0;
        margin-top: 3%;
        width: 45%;
   }
    .button-ver-mas{
        margin: auto;
   }

   /* carrusel */
    .products-carousel {
        padding: 20px;
   }
    .carousel-item {
        width: 30%;
   }
}

footer section {
    padding: 10px;
}

/* DESKTOP */
@media(min-width:769px){
   /* Header */

   /* Main */
    .video-loop{
        border: none;
        padding-top: 0;
        height: 100vh;
   }
    .video-loop video{
        width: 100%;
        border: none;
        height: 100%;
        object-fit: cover;
   }
    .cartel{
        bottom: 40%;
   }
    .categories{
        padding:0 5%;
   }
    .link-category{
        margin: 3% 0;
        width: 33%;
   }
    .button-ver-mas{
        margin: auto;
   }
   /* carrusel */
    .top-products{
        padding: 20px 30px;
   }
    .top-products-title{
        margin-left: 8%;
   }

   .top-products-title2{
    margin-top: 2%;
    margin-left: 9.5%;
    margin-bottom: -2.5%;
}

    .products-carousel {
        width: 80%;
        margin: auto;
        padding: 20px;
   }
    .carousel-item {
        width: 24%;
   }

   /* Footer */
}