/* HEADER */
@import "header.css";
/* FOOTER */
@import "footer.css";


*{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color:#000;
    background-color:#f8f9fc;
}

/* HEADER */

/* MAIN */
.main-form{
    padding: 70px 20px 0px 20px;
    margin-bottom: 5.2%;
}

.login-and-new-account{
    width: 90%;
    margin: auto;
    padding: 0px 5%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
}

.login-form{
    padding: 30px 0;
}

.new-account{
    padding: 30px 0;
    border-top: solid 1px #000;
}

.login-form h2, .new-account h2, .login-form p, .new-account p{
    padding-bottom: 10px;
}

.login-form h2{
    color: #000;
}

.email, .password, .remember-me{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 15px;
    
}

.email input, .password input{
    width: 100%;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    background-color: #e690a8;
    border: black solid 2px;
    opacity: 0.8;
}

.text-danger{
    color: #ff4a4a;
}

.login-form a{
    display: block;
    padding-bottom: 5px;
    color: #000;
}

.login-button, .account-button{
    margin-top: 5px;
    padding: 10px 15px;
    color: #000;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    opacity: 0.8;
    border: solid 2px #000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.login-button:hover, .account-button:hover{
    background-color:#fbed96;
}

.errores {
    color: red;
    font-size: 16px;
    width: 300px;
}

/* FOOTER */

@media(min-width:369px){
    .login-and-new-account{
       margin-bottom: 5%;
    }
}

/* DESKTOP */
@media(min-width:769px){
    /* HEADER */
    
    /* Main */
    .main-form{
        padding: 70px 20px 40px 20px;
    }

    .login-and-new-account{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        margin-top: 5%;
        padding: 0px;
        text-align: left;
        border: rgb(155, 155, 155) solid 1.5px;
    }

    .login-form{
        width: 50%;
        border-right: solid 1px #000;
        padding: 30px 15px;
    }

    .new-account{
        width: 50%;
        margin: auto;
        padding: 0 5%;
        text-align: center;
        border-top: none;
    }
    
    .form{
        text-align: center;
    }
   
    /* FOOTER */
   
}
