/* HEADER */
@import "header.css";
/* FOOTER */
@import "footer.css";

*{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#000;
    background-color:#f8f9fc;
}

.register {
    padding: 15px;
    margin-bottom: 50px;
}

.text-register{
    text-align: center;
    margin: 0 auto;
}

.text-register h1{
    padding-top: 25px;
}

h1 {
    margin-top: 10% !important;
}

.form-register-total {
    display: block;
    max-width: 80vw;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 10%;
}


.form-register {
    width: 90%;
    margin: auto;
    padding-top: 25px;

}

.form-register select {
    display:block;
    text-align: center;
    margin: left;
    font-size: 20px;
    height: 37px;
    margin-left: -20px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    border: #000 solid 2px;
    opacity: 0.8;
}

.form-register label {
    display:block;
    border: none;
    border-radius: 5px;
    text-align: left;
    margin-left: -20px;
    font-size: 20px;
}

.form-register input, .form-register select {
    margin: left;
    margin-left: -20px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    border: #000 solid 2px;
    opacity: 0.8;
    width: 30vw;
}

.text-register-form {
    display:flex;
    width: 250px;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px 5px 5px 10px;
    background-color:white;
    color:black;
    text-align: center;
    
}

.title-label {
    color: black;
    font-weight: bold;
}

.p-register {
    text-align: center;
    margin-left: -120px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-size: 15px;
}

.button-register {
    display:block;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    font-size: 10px;
    color:black;
    padding: 8px 10px;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px;
    border: black solid 2px;
}

a .button-register {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: black solid 2px;
}

.formRegisterError {
    text-align: center;
    color: rgb(211, 1, 1);
    font-size: 15px;
    padding: 5px;
    margin-bottom: -10px;
}

.InformacionPersonal {
    margin-bottom: 20px;
}

.errores {
    color: red;
    font-size: 16px;
    width: 300px;
    margin: auto;
}

.divErrors {
    margin : auto;
}

.button-edit {
    display:block;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    font-size: 10px;
    color:black;
    padding: 8px 10px;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 10px;
    border: black solid 2px;
}

a .button-edit {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: black solid 2px;
}

.is-invalid {
    color: rgb(233, 0, 0);
    display: block;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
} 

@media (min-width: 361px) {
    .form-register-total {
        margin: auto;
        max-width: 70vw;
    }
 }

 .register {
    padding: 15px;
    padding-top: 80px;
    margin-bottom: 50px;
}

    .form-register input, .form-register select {
        margin: auto;
        width: 60vw;
    }

    .form-register select {
        margin: auto;
        margin-top: 10px;
    }

    .text-register h1{
        text-align: center;
    }

    /* .text-register h3{
        color:black;
        padding-left: 60px;
        text-align: center;
    } */

    .form-register label {
        display:block;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        margin-left: 0px;
    }

    .button-register {
        background-color: black;
        font-size: 15px;
        color:white;
        padding: 8px 10px;
        border-radius: 10px;
        border: 2px solid silver;
    }


@media (min-width: 769px){
    .form-register-total {
        margin: auto;
        max-width: 45vw;
    }
    .form-register input, .form-register select {
        width: 25vw;
    }

    .register {
        padding: 30px;
        margin-bottom: 50px;
    }
 }

 @media (min-width: 1380px){
    .form-register-total {
        margin: auto;
        max-width: 40vw;
    }
 }



