/* HEADER */
@import "header.css";
/* FOOTER */
@import "footer.css";

*{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#000;
    background-image: linear-gradient(to bottom, #ace0f9 0%, #fbed96 100%);
}

.registro {
    padding: 15px;
}

.texto-de-registro h1{
    color:black;
    padding-left: 60px;
    padding-top: 20px;
}

.texto-de-registro h3{
    color:black;
    padding-left: 60px;
}



.formulario-de-registro{
    text-align: center;
    margin:auto;
    padding-top: 25px;
    padding-left: 60px;
}

.formulario-de-registro label {
    display:block;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
}

.texto-registro {
    display:flex;
    width: 250px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px silver solid;
    margin-top: 5px;
    padding: 5px 5px 5px 10px;
    background-color:white;
    color:black;
}

.titulo-label {
    color: black;
    font-weight: bold;
}

.p-del-registro {
    text-align: left;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-size: 15px;
}

.boton-formulario {
    background-color: black;
    font-size: 15px;
    color:white;
    padding: 8px 10px;
    border-radius: 10px;
    text-align: left;
    margin-left: 200px;
    border: 2px solid silver
}

.boton-formulario a {
    color: white;
    font-size: 20px;
}

