*{
    text-decoration: none;
    list-style: none;
}

:root {
    --colorBarras : #666;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color:#fff;
}

/* HEADER */
.mobile-nav-bar, .left-side, .right-side{
    display:flex;
    justify-content: space-between;
}

.mobile-nav-bar{
    width: 100%;
    background-color: var(--colorBarras);
    color: #fff;
    position: fixed;
    z-index:10;
}

.logo, .left-side, .right-side{
    font-size: 20px;
    margin: auto;
}

.logo{
    background-color: var(--colorBarras);
    padding: 15px;
    font-family: 'Rampart One', cursive;
    text-align: center;
}

.logo a p, .icons-top a i{
    color: #fff;
}

.icons-bottom{
    display: none;
}

/* Main */
.video-loop{
    width: 100%;
    background-color: #517073;
    position:relative;
    padding-top: 55px;
}

.video-loop video{
    opacity: 0.7;
}

.cartel{
    position: absolute;
    bottom:40%;
    width: 100%;
    z-index:1;
    padding: 0 10%;
}

.categorias{
    padding:20px 0;
    background-color: #879fa1;
}

.link-categoria{
    display: block;
    position:relative;
    margin: 3% 0;
    object-fit: cover;
}

.link-categoria img{
    width: 100%;
    height: 100%;
}

.categoria:hover {
    opacity: 1;
    background-color: rgba(83, 198, 226, 0.295);
}

.categoria{
    color:white;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 450ms;
}

.categoria p, .categoria h2{
    position: relative;
    top: 50%;

}

.button-ver-mas{
    margin: 0 10px;
}

.button-ver-mas p{
    color: white;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    font-weight: bold;
}


/* carrusel */
 .ofertas-destacadas{
    padding: 20px 0;
    background-color: #a1c1c4;
}

.Titulo{
    color: black;
}

.carrusel-de-productos {
    width:100%;
    position: relative;
}
 
.carrusel-de-productos .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
    color: black;
}
 
.carrusel-de-productos .right-arrow {
    position: absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
    color: black;
}

.carrusel-bloque {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 15rem;
    overflow: hidden;
}
 
 
.carrusel-bloque img {
    cursor:pointer;
    width: 100%;
    height: 100%;
}
 

.item-de-carrusel {
    border:black 3px solid;
    width: 45%;
    height: 90%;
    text-align:center;
    margin-bottom: 50px;
    position: relative;
}


.Titulo-de-producto, .precio-de-producto{
    color: black;
    position:relative;
    bottom: 20%;
    background-color: rgba(255,255,255,0.8);
}


/* Footer */
footer{
    padding: 20px;
    text-decoration: none;
    text-align: center;
    background-color: #063438;
}

footer div{
    margin: 20px 0;
    padding: auto;
} 

.information ul li a{
    color: #fff;
}

.suscription a{
    color:#fff
}


/* TABLET */
@media(min-width:481px){

    .categorias{
        padding:20px 0;
        background-color: #cce3de;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .link-categoria{
        margin: 0%;
        margin-top: 3%;
        width: 50%;
    }

    .button-ver-mas{
        margin: auto;
    }

    .carrusel-de-productos {
        width:90%;
        margin: auto;
        padding: 20px;
    }

    .item-de-carrusel {
        border:#CCCCCC 3px solid;
        width: 30%;
        height: 90%;
        text-align:center;
        margin-bottom: 50px;
        position: relative;
    }
}


/* DESKTOP */
@media(min-width:769px){
    /* HEADER */
    .mobile-nav-bar{
        display: flex;
        justify-content: center;
        background-color: var(--colorBarras);
        position: static;
    }
    
    .right-side, .left-side{
        flex-direction:column;
        position: fixed;
        align-items: center;
        z-index: 10;
        height: 100vh;
        padding: 2vw 1vw;
        background-color: var(--colorBarras);
        opacity: 1
    }

    .left-side{
        left: 0;
    }

    .right-side{
        right: 0;
    }

    .left-side p{
        display:none;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icons-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-end;
        text-align: center;
        transition: opacity 300ms;
    }

    .fa-user, .fa-shopping-cart{
        padding-bottom: 30px;
    }

    .icons-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-end;
        margin-bottom: 20px;
        text-align: center;
    }

    .icons-bottom a{
        padding: 15% 0;
        color: #fff;
    }


    /* Main */
    .video-loop{
        padding: 0 20px;
        border: none;
    }
    
    .video-loop video{
        width: 100%;
        border: none;
    }
    
    .cartel{
        left: 15px;
        width: 90%;
    }
    
    .categorias{
        padding:0 5%;
    }
    
    .link-categoria{
        margin: 3% 0;
        width: 33%;
    }
    
    .button-ver-mas{
        margin: 4px auto;
    }

    
    /* carrusel */
     .ofertas-destacadas{
        padding: 30px;
    }
    
    .Titulo{
        margin-left: 30px;
    }
    
    .carrusel-de-productos {
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    
    .item-de-carrusel {
        width: 24%;
    }
    
    
    /* Footer */
    footer{
        display: flex;
        padding: 20px 40px;
        justify-content: center;
    }
    
    .about-us{
        width: 40%;
        text-align: left;
        padding-right: 15px;
    }
    .about-us p{
        margin: 10px 0;
        
    }

    footer div{
        margin: 10px 0;
    } 

    .information h2{
        text-align: left;
    }
    .information ul li{
        text-align: left;
        margin: 10px;
    }
    .information{
        width: 25%;
    } 
    
    .suscription{
        width: 30%;
        text-align:left;
    }
    .suscription p{
        margin: 10px 0;
    }
    .suscription a{
        margin: 0 10px;
    }
}
