/* HEADER */
@import "header.css";
/* FOOTER */
@import "footer.css";

*{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color:#000;
    /* background-image: linear-gradient(to top, #facfbd 0%, #ace0f9 100%); */
    background-color:#f8f9fc;
}

/* HEADER */


/* MAIN*/
.product{
    padding: 5px 0;
}

.mainDetail {
    padding: 5px 0;
    margin-top: 25% !important;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
} 

.product-photos{
    padding-top: 30px;
}

.main-photo{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    overflow: hidden;
}

.main-photo img{
    width: 100%;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.main-photo:hover img{
    transform: scale(1.05);
}

.gallery-product{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.gallery-product img{
    width: 28%;
}

.product-details, .product-add-form, .product-info{
    width: 100%;
    padding: 1% 5%;
}

.product-name{
    margin: 5px 0;
}

.price{
    margin: 15px 0;
}

.product-add-form div{
    padding: 10px 0;
}

.color{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.color select, .talle select{
    border-radius: 5px;
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    opacity: 0.9;
    border: none;
    outline:none;
    border: black solid 2px;
}

.color label, .talle label{
    width: 50px;
    margin: 3px;
}

.talle {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.add-to-cart-button button{
    background-image: linear-gradient(to top right,   
    #e792b3,
    #e690a8,
    #b36b7f);
    background-size: cover;
    opacity: 0.9;
    border:solid 2px black;
    padding: 10px 5px;
    color: #000;
    border-radius: 5px;
    width: 70%;
    margin: 0 15%;
    transition: all 300ms;
}

/* carrusel */
.other-products{
    padding: 20px 0;
}

.other-products h2{
    text-align: center;
}

.carrusel {
    width:90%;
    height: 250px;
    position: relative;
    margin: auto;
}
 
.carrusel .left-arrow {
    position:absolute;
    left:0;
    z-index:1;
    top:50%;
    margin-top:-9px;
    color: black;
}
 
.carrusel .right-arrow {
    position: absolute;
    right:0;
    z-index:1;
    top:50%;
    margin-top:-9px;
    color: black;
}

.carrusel-block {
    width:100%;
    height: 90%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: hidden;
}
 
.carrusel-block img {
    cursor:pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-de-carrusel {
    border:black 3px solid;
    width: 45%;
    height: 90%;
    text-align:center;
    margin-bottom: 25px;
    position: relative;
}

.Titulo-de-producto, .precio-de-producto{
    position:relative;
    bottom: 19%;
    opacity: 0;
    transition: all 300ms;
}

.item-de-carrusel:hover .Titulo-de-producto, .item-de-carrusel:hover .precio-de-producto{
    background-color: #fbed96;
    opacity: 0.8;
}


/* FOOTER*/


/* TABLET */
@media(min-width:481px){
    /* MAIN */
    .carrusel {
        width:90%;
        height: 260px;
        position: relative;
        margin: auto;
    }

    .item-de-carrusel {
        width: 30%;
        margin-bottom: 0;
    }
}


/* DESKTOP */
@media(min-width:769px){
    /* HEADER */
    
    /* MAIN */
    .product{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5%;
    }

    .mainDetail {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5%;
        margin-top: 2% !important;
        width: 85%;
    } 

    .product-photos, .product-price-and-form{
        padding-top: 30px;
    }

    .product-photos{
        width: 60%;
    }

    .product-price-and-form{
        width: 40%;
    }

    .product-details{
        padding: 0 5%;
    }

    .product-name{
        margin:0;
        margin-bottom: 5px;
    }

    .main-photo{
        width: 90%;
        margin: auto;
        padding-top: 0;
        margin-bottom: 10px;
    }


    /* carrusel */
    .other-products{
        width: 100%;
        padding: 3% 5%;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        text-align: center;
    }

    .other-products h2{
        text-align: left;
        margin:auto 0;
        width: 25%;
    }

    .carrusel {
        width:75%;
        position: relative;
        margin: 0;
    }

    .carrusel-block {
        width:100%;
        height: 270px;
        height: 90%;
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 10px;
        overflow: hidden;
    }

    .item-de-carrusel {
        width: 25%;
        margin-bottom: 0;
    }

    /* FOOTER*/
}
